

.home-container {
  background-image: url('/src/assets/images/book.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  height: 100vh;
}

.curiosity{
  font-size: 2.4rem;
}


@media screen and(min-width: 900px) {
.curiosity{
  font-size: 5rem;
  
}
}

